<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>developersapi</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .da-letter-spacing {
            word-spacing: 4px;
            letter-spacing: 4px;
        }
        svg {
            height: 24px;
            display: inline;
        }
    </style>
</head>

<body class="bg-gray-100">
    {% block content %}
    {% endblock %}
</body>

</html>